
<hr />
<div class="body">
  <div class="login">
    <mat-spinner diameter="50" class="spiner" *ngIf="loading"></mat-spinner>
    <form [formGroup]="form" (ngSubmit)="ingresar()" *ngIf="!loading">
      <img src="./assets/img/user.png" alt="login" width="50%" />
      <h1>login</h1>
      <mat-form-field appearance="outline"  class="ancho" [hideRequiredMarker]="true">
        <mat-label>usuario* <mat-icon matSuffix id="user"
          (mouseover)="mostrar('#user','Si la entidad tiene activo el indicador de calendarios avanzados, se muestra el ciclo asignado a la relación laboral del empleado en el mes actual, junto con su denominación que se obtiene de la tabla Calendarios, ciclos. Si la relación laboral ya está finalizada se mostrará el ciclo asignado en su fecha de finalización, y si todavía no ha comenzado, el correspondiente a su fecha de inicio. El botón Vista anual muestra la vista anual del calendario laboral correspondiente a la relación del empleado.')">
          info
        </mat-icon></mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput autocomplete="off" formControlName="usuario" />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="ancho" [hideRequiredMarker]="true">
        <mat-label>Password *</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          autocomplete="off"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <!--button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"-->
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <!--/button-->
      </mat-form-field>
      <div class="example-container">
        <mat-form-field appearance="outline" floatLabel="always" class="ancho" [hideRequiredMarker]="true">
          <mat-label>Choose a date *
              <mat-icon matSuffix id="datep"  (mouseover)="mostrar('#datep','Fecha de planificación')">info</mat-icon>
          </mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha" placeholder="Placeholder" >

          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field appearance="outline" floatLabel="always" class="ancho" [hideRequiredMarker]="true">
          <mat-label>Outline form field * <mat-icon matSuffix id="prueba"  (mouseover)="mostrar('#prueba','Datos de la factura')">info</mat-icon></mat-label>
          <input matInput placeholder="Placeholder" formControlName="prueba" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field appearance="outline" floatLabel="always" [hideRequiredMarker]="true">
          <mat-label>Enter a date range * <mat-icon matSuffix id="datepr"  (mouseover)="mostrar('#datepr','Rango de fecha de la planificación')">info</mat-icon></mat-label>
          <mat-date-range-input [rangePicker]="picker" formGroupName="fechaGroup">
            <input matStartDate placeholder="Start date" formControlName="startFecha">
            <input matEndDate placeholder="End date" formControlName="endFecha">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="form.controls['fechaGroup'].get('startFecha')?.hasError('required')">Invalid start date</mat-error>
          <mat-error *ngIf="form.controls['fechaGroup'].get('endFecha')?.hasError('required')">Invalid end date</mat-error>
        </mat-form-field>
      </div>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ancho button" style="margin-top: 25px;"
        [disabled]="!form.valid"
      >
        Acceder
      </button>
    </form>

  </div>
</div>



